# Data Science tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. SQL 
4. JAVA

Objectives:
- Types and categories of tools used by data Scientists
- Open Source and Cloud based tools used in Data Science
- Version Controlling while deployment
- Languages and Libraries used by Data Scientists

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|Jupyter|
|R Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5 #This is simple arithmetic expression to multiply then add

17

In [9]:
200/60 #This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Author
Anum Zehra Zaidi